@model TqtLession7.Models.Tqtkhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tqtkhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TqtTenkh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TqtTenkh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TqtTrangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TqtTrangthai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "tqtEdit", new { id = Model.TqtMakh }) |
    @Html.ActionLink("Back to List", "tqtIndex")
</p>
