
@{
    ViewBag.Title = "thong tin khach hang";
}

<h2>thong tin khach hang</h2>
<div class="alert alert-danger">
    <h3>Ma so: @ViewBag.customer.Customerid</h3>
    <h3>ho va ten: @ViewBag.customer.FirstName  @ViewBag.customer.LastName</h3>
    <h3>Ma so: @ViewBag.customer.Address</h3>
    <h3>Ma so: @ViewBag.customer.Yearofbirth</h3>
    
</div>

